/*
font-family: 'Noto Serif', serif;
font-family: 'Alice', serif;
font-family: 'Bentham', serif;
*/

@media all{
   /*grid general*/
   .container {
       display: grid;
       grid-templates-rows: auto;
       grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
       grid-auto-flows: dense;
       width: 100%;
   }

   .col-1 {
       grid-column-end: span 1;
   }

   .col-2 {
       grid-column-end: span 2;
   }

   .col-3 {
       grid-column-end: span 3;
   }

   .col-4 {
       grid-column-end: span 4;
   }

   .col-5 {
       grid-column-end: span 5;
   }

   .col-6 {
       grid-column-end: span 6;
   }

   .col-7 {
       grid-column-end: span 7;
   }

   .col-8 {
       grid-column-end: span 8;
   }
 }

 body {
   margin: 0;
   padding: 0;
   background-image: url("images/fond.png");
   background-repeat: no-repeat;
   background-size: cover;
 }


/* header  */
header {
  background-image: url("images/surf1.jpg");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position:right;
  margin-right: 7%;
  margin-top: 3%;
}
h1 {
  font-size: 80px;
  font-family: 'Bentham', serif;
  margin-left: 12%;
  line-height: 30px;
}
.micro-title {
  font-size: 20px;
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
  color: #15c4c9;
  margin-left: 12%;
  margin-top: 16%;
}
.text {
  font-size: 17px;
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
  margin-left: 12%;
  color: #757575;
  line-height: 25px;
  margin-bottom: 20%;
}



/* section dicton */
.dicton {
  margin-top: 10%;
  margin-bottom: 5%
}
.text-dicton {
  text-align: center;
  font-family: 'Bentham', serif;
  color: #5c5c5c;
  font-style: italic;
  font-size: 28px;
  font-weight: lighter;
}
.auteur {
  text-align: center;
  font-size: 17px;
  font-family: 'Helvetica', sans-serif;
  color: #757575;
  margin-top: -15px
}

.divider {
  border: 0.75px solid #15c4c9;
  width: 85px;
  margin-left: auto;
  margin-right: auto;
  padding-top: -40px
}



/* Section Observation */
.observation {
  margin-top: 12%;
  margin-bottom: 7%;
  background-image: url("images/observ-fond.png");
  background-repeat: no-repeat;
  background-size: 40%;
  margin-left: 12%
}
.text-observation {
  font-size: 17px;
  font-family: 'Helvetica', sans-serif;
  font-weight: lighter;
  margin-left: 12%;
  color: #757575;
  line-height: 25px;
  margin-top: 70%
}
.observation img {
  width: 87%;
  margin-right: 7%;
  margin-top: 4%
}




/* Footer */
.footer {
  background-image: url("images/footer-img.png");
  background-repeat: no-repeat;
  background-size: auto;
}
.footer-title {
  text-align: center;
  font-family: 'Helvetica', sans-serif;
  padding-right: 70px;
  color: #757575;
  font-weight: lighter;
  font-size: 15px;
  letter-spacing: 1px;
  margin-top: 10%;
  margin-bottom: 3%
}
.ion-social-linkedin {
  color: #757575;
  font-size: 25px;
  margin-bottom: 3%;
}
.linkedin {
  text-align: center;
  margin-top: 20%;
}
.ion-social-linkedin:hover {
  color: #15c4c9
}
.ion-social-github {
  color: #757575;
  font-size: 25px;
  margin-bottom: 3%;
}
.github {
  text-align: center;
  margin-top: 20%;
}
.ion-social-github:hover {
  color: #15c4c9
}
